
@{
    ViewBag.Title = "Chat room";
}

<h2>Chat room</h2>
<table>
	<tr>
		<td colspan="2">
			<ul id="logList"></ul>
		</td>
		</tr>
<tr>
		<td>
			Welcome Mr/Ms
		</td>
		<td>
			<div id = "name"/>
		</td>
</tr>
	<tr>
		<td>
			Enter your message:
		</td>
		<td>
			<textarea rows="5" id="msg"></textarea>
			</br>
			<input id = "send" type="button" value="send"/>
		</td>
</tr>
<tr>
	<td>
		<ul id="msgList"></ul>
</td>
</tr>
</table>
@section scripts
{
			<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
			<script src="~/signalr/hubs"></script>
			<script>
                //Get query string
                function queryString(Key)
                {
                    var url = window.location.href;
                    KeysValues = url.split(/[\?&]+/);
                    for(i = 0; i < KeysValues.length; i++)
                    {
                        KeysValue = KeysValues[i].split("=");
                        if (KeysValue[0] == Key)
                        {
                            return KeysValue[1];
                        }
                    }
                }

				$(document).ready(function () {

				    //Get name from query string
				    var n = queryString("n");

				    $("#name").html(n);

				    //Get group from query string
				    var g = queryString("g");

					var obj = $.connection.myhub;

				    obj.client.log = function (data) {
						$("#logList").append("<li>----------------New connection------------</li>");
						$("#logList").append("<li>connection id:" + data.conId + "</li>");
						$("#logList").append("<li>connection status:" + data.conId + "</li>");
						$("#logList").append("<li>connection transport:" + data.transport + "</li>");
						$("#logList").append("<li>connection host:" + data.host + "</li>");
						$("#logList").append("<li>connection port:" + data.port + "</li>");
						$("#logList").append("<li>connection user name:" + data.uname + "</li>");
					}

					obj.client.clientmethod = function (name, conid, msg) {
						$("#msgList").append("<li>" + name + "(" + conid + "): " + msg + "</li>");
					}

					$.connection.hub.start().done(function () {
					    obj.server.join(g);
						$("#send").click(function () {
							obj.server.servermethod($("#name").html(), $("#msg").val(), g);
							console.log($("#msg").val());
					 });
					});

				});
			</script>
		}

