
@{
    ViewBag.Title = "Chat room";
}

<h2>Chat room</h2>
<table>
	<tr>
		<td colspan="2">
			<ul id="logList"></ul>
		</td>
		</tr>
<tr>
		<td>
			Welcome Mr/Ms
		</td>
		<td>
			<div id = "name"/>
		</td>
</tr>
	<tr>
		<td>
			Enter your message:
		</td>
		<td>
			<textarea rows="5" id="msg"></textarea>
			</br>
			<input id = "send" type="button" value="send"/>
		</td>
</tr>
<tr>
	<td>
		<ul id="msgList"></ul>
</td>
</tr>
</table>
@section scripts
{
			<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
			<script src="~/signalr/hubs"></script>
			<script>
				$(document).ready(function () {

					var n = prompt("Enter your name", "");
					$("#name").html(n);

					//create connection to the hub
					$.connection.hub.start();

				 var obj = $.connection.myhub
					obj.client.log = function (data) {
						$("#logList").append("<li>----------------New connection------------</li>");
						$("#logList").append("<li>connection id:" + data.conId + "</li>");
						$("#logList").append("<li>connection status:" + data.conId + "</li>");
						$("#logList").append("<li>connection transport:" + data.transport + "</li>");
						$("#logList").append("<li>connection host:" + data.host + "</li>");
						$("#logList").append("<li>connection port:" + data.port + "</li>");
						$("#logList").append("<li>connection user name:" + data.uname + "</li>");
					}

					obj.client.clientmethod = function (name, conid, msg) {
						$("#msgList").append("<li>" + name + "(" + conid + ")" + + ":" + msg + "</li>");
					}

					$.connection.hub.start().done(function () {
						$("#send").click(function () {
							obj.server.servermethod($("#name").html(), $("#msg").val());
							console.log($("#msg").val());
					 });
					});

				});
			</script>
		}

