
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section scripts
{
	<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
	<script src="~/signalr/hubs"></script>
	<script>
		$(document).ready(function () {
			var obj = $.connection.myhub;
			$.connection.hub.start().done(function () {
				obj.server.servermethod("hi").done(function (data) {
					alert(data);
				});
			}).fail(function () {
				alert("no connected")
			});
		});
	</script>
}

